<body style="">    
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
                <section id="tutorAgreement">
                    <div class="container">
                        <div class="col-lg-1">
                        </div>
                        
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="collapse" id="signUpWell">
                                            <div class="alert alert-danger fade in">
                                                <a href="#" class="close" data-toggle="collapse" aria-label="close" data-target="#signUpWell">&times;</a>
                                                <p id="signUpMessage"></p>
                                            </div>
                                        </div>
                            </div>
                            
                            <div class="row">
                                
                                <div class="profileInfo" style="padding: 25px;">
                                    <h4>Tutor Registeration</h4>
                                    <hr />
                                    <form role="form" method="post" action="profileSignUp/register" name="signuptutor" onsubmit="return validateSignUpForm()">
                                  
                                        <!-- Body -->
                                        <div class="form-group tutorSignUpFC">
                                            <label class="control-label">Date of birth<span style="color:red;">*</span> </label>
                                            
                                            <div class="form-group">
                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                    <input type="hidden" name="dobd" value="DD">
                                                    <select onchange="updateSelectedDOBD()" type="text" class="form-control" id="field-day" name="days" required>
                                                        <option>DD</option>
                                                        {{#each day}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                
                                                <div class=" col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                    <input type="hidden" name="dobm" value="MM">
                                                    <select onchange="updateSelectedDOBM()" type="text" class="form-control" id="field-month" name="months" required>
                                                        <option>MM</option>
                                                        {{#each month}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                
                                                <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
                                                    <input type="hidden" name="doby" value="YY">
                                                    <select onchange="updateSelectedDOBY()" type="text" class="form-control" id="field-year" name="years" required>
                                                        <option>YYYY</option>
                                                        {{#each year}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group tutorSignUpFC" style="">
                                            <label class="control-label">SSN<span style="color:red;">*</span> </label>
                                            <input type="number" class="form-control" placeholder="Social Security Number" name="cemail">
                                        </div>
                                        
                                        <div class="form-group tutorSignUpFC">
                                            <label class="control-label">College Grade<span style="color:red;">*</span> </label>
                                            
                                            <select type="text" class="form-control" id="field-year" required>
                                                <option>Freshman</option>
                                                <option>Sophomore</option>
                                                <option>Junior</option>
                                                <option>Lower Senior</option>
                                                <option>Upper Senior</option>
                                                <option>Graduate</option>
                                            </select>
                                        </div>
                                        <div class="form-group tutorSignUpFC">
                                            <label class="control-label">EMPLID<span style="color:red;">*</span> </label>
                                            <input type="number" class="form-control" placeholder="College EMPLID" name="cemail">
                                        </div>
                                        <div class="form-group tutorSignUpFC">
                                            <label class="control-label">Subjects You Tutor?<span style="color:red;">*</span> </label>
                                            
                                            <div class="teachSubject">
                                                <div id="teachSubject">
                                                </div>
                                            </div>
                                            
                                            <div>
                                                <label class="control-label" style="margin-top:10px; margin-bottom:-20px; width:100%;">Suggested Subjects</label>
                                                
                                                <label class="control-label" style="font-size:10px;">Click on the subject you would like to tutor:</label>
                                            </div>
                                            
                                            <div class="suggestedSubjects">
                                                
                                                {{#each subject}}
                                                <div id="suggestedSubjectWell" class="suggestedSubjectWell">
                                                    
                                                    <div class="alert alert-info fade in" onclick="addSubjectToTeach('{{this.subjectname}}')">
                                                        <p id="subjectName">{{this.subjectname}}
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                {{/each}}
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group tutorSignUpFC">
                                            <label class="control-label">Certified Tutor?<span style="color:red;">*</span> </label>
                                            
                                            <br>
                                            <input type="radio" name="certifiedtutor"> Yes I am a certified tutor by my college.<br>
                                            <input type="radio" name="certifiedtutor"> No I am not a certified tutor by my college.
                                          
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary btn-block">Become a tutor!</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        var id = 0;
        function addSubjectToTeach(name) 
        {
            var subjectsContainer = document.getElementById("teachSubject");
            var newSubjectCurrentName = document.getElementById("subjectName");
            var newSubjectParent = document.createElement("div");
            var newSubjectWell = document.createElement("div");
            var newSubjectName = document.createElement("p");
            var newSubjectCloseBtn = document.createElement("a");
            
            //Properties
            newSubjectParent.setAttribute('id', id);
            newSubjectWell.className = "alert alert-success fade in addedSubjectWell";
            newSubjectCloseBtn.className = "close";
            newSubjectCloseBtn.setAttribute('aria-label', "close");
            newSubjectCloseBtn.onclick = function() {
                removeSubjectToTeach(newSubjectParent);
            }
            newSubjectCloseBtn.innerHTML = "&times;"
            
            newSubjectName.innerHTML = name;
            
            //Append
            subjectsContainer.appendChild(newSubjectParent);
            newSubjectParent.appendChild(newSubjectWell);
            newSubjectWell.appendChild(newSubjectCloseBtn); 
            newSubjectWell.appendChild(newSubjectName);  
            
            id++;
        }
        function removeSubjectToTeach(subjectDivToRemove) 
        {
            var parent = document.getElementById('teachSubject');
            parent.removeChild(subjectDivToRemove);
        }
        function updateSelectedDOBD()
        {
            var selectedDOBD = document.forms["signuptutor"]["dobd"];
            var days = document.forms["signuptutor"]["days"];
    
            selectedDOBD.value = days[days.selectedIndex].value;
        }
        function updateSelectedDOBM()
        {
            var selectedDOBD = document.forms["signuptutor"]["dobm"];
            var months = document.forms["signuptutor"]["months"];
    
            selectedDOBD.value = months[months.selectedIndex].value;
        }
        function updateSelectedDOBY()
        {
            var selectedDOBD = document.forms["signuptutor"]["doby"];
            var years = document.forms["signuptutor"]["years"];
    
            selectedDOBD.value = years[years.selectedIndex].value;
        }
        function validateSignUpForm() {
            var dobd = document.forms["signuptutor"]["dobd"].value;
            var dobm = document.forms["signuptutor"]["dobm"].value;
            var doby = document.forms["signuptutor"]["doby"].value;
            var msg = "";
            var result = true;
    
            if (isNaN(dobd) || isNaN(dobm) || isNaN(doby)) {
                msg = "Please indicate a valid date of birth.";
                result = false;
            }
    
            if(!result)
            {
                $("#signUpWell").collapse('show');
                document.getElementById("signUpMessage").innerHTML = msg;
                return false;
            }
    
            $("#signUpWell").collapse('hide');
            return result;
        }
    </script>
</body>