<body style="background-color:#18bc9c; color:white">
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
                <!--Subject Menu-->
                <div class="row">
                    <section id="portfolio">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 portfolio-item">
                                    <a href="/subject/{{this.subjectname}}/{{this.id}}" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i><h3>Certified Tutors</h3></i>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="img/portfolio/cabin.png" alt="" style="width:260px; height:160px;">
                                    </a>
                                </div>

                                <div class="col-sm-3 portfolio-item">
                                    <a href="/subject/{{this.subjectname}}/{{this.id}}" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i><h3>Resources</h3></i>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="img/portfolio/cabin.png" alt="" style="width:260px; height:160px;">
                                    </a>
                                </div>

                                <div class="col-sm-3 portfolio-item">
                                    <a href="{{contentURL}}" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i><h3>Tutoring Center Rules</h3></i>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="img/portfolio/cabin.png" alt="" style="width:260px; height:160px;">
                                    </a>
                                </div>

                                <div class="col-sm-3 portfolio-item">
                                    <a href="/subject/{{this.subjectname}}/{{this.id}}" class="portfolio-link" data-toggle="modal">
                                        <div class="caption">
                                            <div class="caption-content">
                                                <i><h3>Tutoring Center Information</h3></i>
                                            </div>
                                        </div>
                                        <img class="img-responsive" src="img/portfolio/cabin.png" alt="" style="width:260px; height:160px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <!--Available Tutors-->
                <div class="row">
                    <h2>Available tutors</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-2">Name</th>
                                <th class="col-md-6">Description</th>
                                <th class="col-md-1">Rating</th>
                                <th class="col-md-1">Certified</th>
                                <th class="col-md-1">Chat Now</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="availableTutorName">
                                        <li><img class="img-responsive img-circle" src="img/profile.png" alt="" style="width:50px;height:50px;"></li>
                                        <li style="margin-top:12px; padding-left:10px;">
                                            <a href="#">Muhand Jumah</a>
                                        </li>
                                    </ul>
                                </td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis enim lobortis, tempus odio non, lacinia arcu. Vestibulum eget mi eros. Vivamus semper aliquam nibh, vel auctor diam. Nam maximus non ante in auctor. Morbi eget est laoreet, laoreet purus sit amet, elementum metus. Integer non accumsan augue, ac semper ipsum. Pellentesque vehicula posuere neque nec auctor. Nullam at sapien at orci eleifend fringilla. Donec augue velit, efficitur eget blandit a, sagittis molestie arcu. Donec varius arcu vel quam vestibulum lacinia vitae vel felis. Proin non aliquet nulla. Sed volutpat semper ligula, ac scelerisque eros cursus vel. Integer et magna augue. Aenean convallis ornare est et tincidunt. Vivamus ut pellentesque leo. Nulla ac augue efficitur, commodo urna eu, auctor erat. </td>
                                <td>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </td>
                                <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
                                <td>
                                    <div class="ChatNowBtn">
                                        <center style="padding:5px;">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <h7 style="margin-left:5px;">Chat</h7>
                                        </center>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>